@model IEnumerable<DemoProjectSem2.Models.TblGuide>

@{
    ViewData["Title"] = "Index";
}

<h1>All Guides</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuideName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuideGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuideContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuideFees)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.GuideStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.GuideCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr> 
           
            <td>
                @Html.DisplayFor(modelItem => item.GuideName)
            </td>
            <td>
                @if (item.GuideGender == "1")
                {
                    @Html.Label("Male");
                }
                else
                {
                    @Html.Label("Female");

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuideContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuideFees)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.GuideStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.GuideCity.CityName)

        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuideId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuideId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuideId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
